name: Juice Shop URL Discovery

on:
  workflow_dispatch:
  push:
  

jobs:
  discover-urls:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repo
        uses: actions/checkout@v4

      # ---------------------------------------------------------
      # 1. Start Juice Shop in Docker
      # ---------------------------------------------------------
      - name: Run Juice Shop in Docker
        run: |
          docker run -d -p 3000:3000 --name juice-shop bkimminich/juice-shop
          echo "Waiting for Juice Shop to start..."
          sleep 20

      # ---------------------------------------------------------
      # 2. Install Katana (clean extract only binary)
      # ---------------------------------------------------------
      - name: Install Katana
        run: |
          wget https://github.com/projectdiscovery/katana/releases/download/v1.2.2/katana_1.2.2_linux_amd64.zip
          unzip -j katana_1.2.2_linux_amd64.zip katana -d /usr/local/bin
          chmod +x /usr/local/bin/katana

      # ---------------------------------------------------------
      # 3. Run Katana URL Discovery
      # ---------------------------------------------------------
      - name: Run Katana URL Discovery
        run: |
          katana -u http://localhost:3000 -d 5 -jsl -silent -o discovered_urls.txt

          echo "Total discovered URLs:"
          wc -l discovered_urls.txt
          echo "---- Discovered URLs ----"
          cat discovered_urls.txt

      # ---------------------------------------------------------
      # 4. Upload URL list as artifact
      # ---------------------------------------------------------
      - name: Upload discovered URLs
        uses: actions/upload-artifact@v5
        with:
          name: discovered_urls
          path: discovered_urls.txt
