name: ZAP Baseline Scan

on:
  workflow_dispatch:
  #push:
    #branches:
     # - main

jobs:
  zap-baseline:
    runs-on: ubuntu-latest

    steps:
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: "http://juice-shop.herokuapp.com"
          fail_action: false
          allow_issue_writing: false
          artifact_name: zap_baseline_report   # <-- this overrides the default zap_scan
